-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: yugioh_db
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `attribut`
--

DROP TABLE IF EXISTS `attribut`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attribut` (
  `AttributId` int NOT NULL AUTO_INCREMENT,
  `NomAttribut` varchar(50) NOT NULL,
  PRIMARY KEY (`AttributId`),
  UNIQUE KEY `NomAttribut` (`NomAttribut`),
  KEY `idx_nom_attribut` (`NomAttribut`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attribut`
--

LOCK TABLES `attribut` WRITE;
/*!40000 ALTER TABLE `attribut` DISABLE KEYS */;
INSERT INTO `attribut` VALUES (7,'Eau'),(6,'Feu'),(4,'Lumi├¿re'),(5,'T├®n├¿bres'),(8,'Terre'),(9,'Vent');
/*!40000 ALTER TABLE `attribut` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carte`
--

DROP TABLE IF EXISTS `carte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carte` (
  `CarteId` int NOT NULL AUTO_INCREMENT,
  `NomCarte` varchar(100) NOT NULL,
  `DescriptionCarte` text,
  `ImageUrl` varchar(255) DEFAULT NULL,
  `TypeCarteId` int NOT NULL,
  `AttributId` int DEFAULT NULL COMMENT 'NULL si Magie/PiÔö£├ÂÔö£├éÔö¼├║├ö├Â┬╝├ö├Â├ëge',
  `NiveauCarte` int DEFAULT NULL COMMENT 'NULL si pas Monstre, 1-12',
  `ATK` int DEFAULT NULL COMMENT 'NULL si pas Monstre',
  `DEF` int DEFAULT NULL COMMENT 'NULL si pas Monstre',
  `RangCarte` int DEFAULT NULL COMMENT 'NULL si pas XYZ, 1-13',
  `LienRating` int DEFAULT NULL COMMENT 'NULL si pas Link, 1-8',
  `EchellePendule` int DEFAULT NULL COMMENT 'NULL si pas Pendule, 0-13',
  `EffetCarte` text,
  PRIMARY KEY (`CarteId`),
  UNIQUE KEY `NomCarte` (`NomCarte`),
  KEY `idx_nom_carte` (`NomCarte`),
  KEY `idx_type_carte` (`TypeCarteId`),
  KEY `idx_attribut` (`AttributId`),
  KEY `idx_niveau` (`NiveauCarte`),
  KEY `idx_atk` (`ATK`),
  CONSTRAINT `fk_carte_attribut` FOREIGN KEY (`AttributId`) REFERENCES `attribut` (`AttributId`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_carte_type` FOREIGN KEY (`TypeCarteId`) REFERENCES `type_carte` (`TypeCarteId`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_atk` CHECK (((`ATK` is null) or (`ATK` >= 0))),
  CONSTRAINT `chk_def` CHECK (((`DEF` is null) or (`DEF` >= 0))),
  CONSTRAINT `chk_link` CHECK (((`LienRating` is null) or (`LienRating` between 1 and 8))),
  CONSTRAINT `chk_niveau` CHECK (((`NiveauCarte` is null) or (`NiveauCarte` between 1 and 12))),
  CONSTRAINT `chk_pendule` CHECK (((`EchellePendule` is null) or (`EchellePendule` between 0 and 13))),
  CONSTRAINT `chk_rang` CHECK (((`RangCarte` is null) or (`RangCarte` between 1 and 13)))
) ENGINE=InnoDB AUTO_INCREMENT=1205 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carte`
--

LOCK TABLES `carte` WRITE;
/*!40000 ALTER TABLE `carte` DISABLE KEYS */;
/*!40000 ALTER TABLE `carte` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carte_edition`
--

DROP TABLE IF EXISTS `carte_edition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carte_edition` (
  `CarteEditionId` int NOT NULL AUTO_INCREMENT,
  `CarteId` int NOT NULL,
  `EditionId` int NOT NULL,
  `RareteId` int NOT NULL,
  `NumeroSerieCarte` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`CarteEditionId`),
  UNIQUE KEY `uk_carte_edition_numero` (`CarteId`,`EditionId`,`NumeroSerieCarte`),
  KEY `idx_carte_edition_carte` (`CarteId`),
  KEY `idx_carte_edition_edition` (`EditionId`),
  KEY `idx_carte_edition_rarete` (`RareteId`),
  CONSTRAINT `fk_carteedition_carte` FOREIGN KEY (`CarteId`) REFERENCES `carte` (`CarteId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_carteedition_edition` FOREIGN KEY (`EditionId`) REFERENCES `edition` (`EditionId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_carteedition_rarete` FOREIGN KEY (`RareteId`) REFERENCES `rarete` (`RareteId`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=604 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carte_edition`
--

LOCK TABLES `carte_edition` WRITE;
/*!40000 ALTER TABLE `carte_edition` DISABLE KEYS */;
/*!40000 ALTER TABLE `carte_edition` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carte_race`
--

DROP TABLE IF EXISTS `carte_race`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carte_race` (
  `CarteRaceId` int NOT NULL AUTO_INCREMENT,
  `CarteId` int NOT NULL,
  `RaceId` int NOT NULL,
  PRIMARY KEY (`CarteRaceId`),
  UNIQUE KEY `uk_carte_race` (`CarteId`,`RaceId`),
  KEY `idx_carte_race_carte` (`CarteId`),
  KEY `idx_carte_race_race` (`RaceId`),
  CONSTRAINT `fk_carterace_carte` FOREIGN KEY (`CarteId`) REFERENCES `carte` (`CarteId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_carterace_race` FOREIGN KEY (`RaceId`) REFERENCES `race` (`RaceId`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1195 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carte_race`
--

LOCK TABLES `carte_race` WRITE;
/*!40000 ALTER TABLE `carte_race` DISABLE KEYS */;
/*!40000 ALTER TABLE `carte_race` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carte_sous_type`
--

DROP TABLE IF EXISTS `carte_sous_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carte_sous_type` (
  `CarteSousTypeId` int NOT NULL AUTO_INCREMENT,
  `CarteId` int NOT NULL,
  `SousTypeId` int NOT NULL,
  PRIMARY KEY (`CarteSousTypeId`),
  UNIQUE KEY `uk_carte_soustype` (`CarteId`,`SousTypeId`),
  KEY `idx_carte_soustype_carte` (`CarteId`),
  KEY `idx_carte_soustype_type` (`SousTypeId`),
  CONSTRAINT `fk_cartesoustype_carte` FOREIGN KEY (`CarteId`) REFERENCES `carte` (`CarteId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_cartesoustype_soustype` FOREIGN KEY (`SousTypeId`) REFERENCES `sous_type_carte` (`SousTypeId`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carte_sous_type`
--

LOCK TABLES `carte_sous_type` WRITE;
/*!40000 ALTER TABLE `carte_sous_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `carte_sous_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `collection_personnelle`
--

DROP TABLE IF EXISTS `collection_personnelle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `collection_personnelle` (
  `CollectionPersoId` int NOT NULL AUTO_INCREMENT,
  `UserId` int NOT NULL,
  `CarteId` int NOT NULL,
  `NombreExemplaire` int NOT NULL DEFAULT '1',
  PRIMARY KEY (`CollectionPersoId`),
  UNIQUE KEY `uk_user_carte` (`UserId`,`CarteId`),
  KEY `idx_collection_user` (`UserId`),
  KEY `idx_collection_carte` (`CarteId`),
  CONSTRAINT `fk_collection_carte` FOREIGN KEY (`CarteId`) REFERENCES `carte` (`CarteId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_collection_user` FOREIGN KEY (`UserId`) REFERENCES `user` (`UserId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_exemplaire_positif` CHECK ((`NombreExemplaire` >= 1))
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `collection_personnelle`
--

LOCK TABLES `collection_personnelle` WRITE;
/*!40000 ALTER TABLE `collection_personnelle` DISABLE KEYS */;
/*!40000 ALTER TABLE `collection_personnelle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deck`
--

DROP TABLE IF EXISTS `deck`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `deck` (
  `DeckId` int NOT NULL AUTO_INCREMENT,
  `UserId` int NOT NULL,
  `NomDeck` varchar(255) NOT NULL,
  `DescriptionDeck` text,
  `CompositionDeck` varchar(255) DEFAULT NULL COMMENT 'Type: Aggro, Control, Combo',
  `NombreCarteDeck` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`DeckId`),
  KEY `idx_user_deck` (`UserId`),
  CONSTRAINT `fk_deck_user` FOREIGN KEY (`UserId`) REFERENCES `user` (`UserId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_nombre_cartes` CHECK ((`NombreCarteDeck` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deck`
--

LOCK TABLES `deck` WRITE;
/*!40000 ALTER TABLE `deck` DISABLE KEYS */;
/*!40000 ALTER TABLE `deck` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deck_carte`
--

DROP TABLE IF EXISTS `deck_carte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `deck_carte` (
  `DeckCarteId` int NOT NULL AUTO_INCREMENT,
  `DeckId` int NOT NULL,
  `CarteId` int NOT NULL,
  `NombreExemplaire` int NOT NULL DEFAULT '1',
  `ZoneDeck` varchar(50) NOT NULL COMMENT 'Main, Extra, Side',
  PRIMARY KEY (`DeckCarteId`),
  UNIQUE KEY `uk_deck_carte_zone` (`DeckId`,`CarteId`,`ZoneDeck`),
  KEY `idx_deck_carte_deck` (`DeckId`),
  KEY `idx_check_carte_carte` (`CarteId`),
  CONSTRAINT `fk_deckcarte_carte` FOREIGN KEY (`CarteId`) REFERENCES `carte` (`CarteId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_deckcarte_deck` FOREIGN KEY (`DeckId`) REFERENCES `deck` (`DeckId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_exemplaire_deck` CHECK ((`NombreExemplaire` between 1 and 3)),
  CONSTRAINT `chk_zone_deck` CHECK ((`ZoneDeck` in (_utf8mb4'Main',_utf8mb4'Extra',_utf8mb4'Side')))
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deck_carte`
--

LOCK TABLES `deck_carte` WRITE;
/*!40000 ALTER TABLE `deck_carte` DISABLE KEYS */;
/*!40000 ALTER TABLE `deck_carte` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edition`
--

DROP TABLE IF EXISTS `edition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edition` (
  `EditionId` int NOT NULL AUTO_INCREMENT,
  `NomEdition` varchar(255) NOT NULL,
  `CodeEdition` varchar(50) DEFAULT NULL,
  `DateEdition` date DEFAULT NULL,
  `TypeImpression` varchar(100) DEFAULT NULL COMMENT '1st Edition, Unlimited, Limited, Promo',
  PRIMARY KEY (`EditionId`),
  UNIQUE KEY `NomEdition` (`NomEdition`),
  KEY `idx_nom_edition` (`NomEdition`),
  KEY `idx_code_edition` (`CodeEdition`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edition`
--

LOCK TABLES `edition` WRITE;
/*!40000 ALTER TABLE `edition` DISABLE KEYS */;
INSERT INTO `edition` VALUES (5,'Legend of Blue Eyes White Dragon','LOB','2002-03-08','1st Edition'),(6,'Metal Raiders','MRD','2003-04-21','Unlimited'),(7,'Invasion of Chaos','IOC','2004-07-12','Limited'),(8,'Pharaoh\'s Servant','PSV','2005-10-11','Unlimited'),(9,'Labyrinth of Nightmare','LON','2006-07-01','1st Edition'),(10,'Legacy of Darkness','LOD','2007-01-18','Promo'),(11,'Phantom Darkness','PTD','2008-03-26','1st Edition'),(12,'The Duelist Genesis','TDG','2009-05-31','Unlimited'),(13,'Rise of Destiny','ROD','2010-12-09','1st Edition'),(14,'Shadow Specters','SDS','2011-09-08','Limited');
/*!40000 ALTER TABLE `edition` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `race`
--

DROP TABLE IF EXISTS `race`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `race` (
  `RaceId` int NOT NULL AUTO_INCREMENT,
  `NomRace` varchar(50) NOT NULL,
  PRIMARY KEY (`RaceId`),
  UNIQUE KEY `NomRace` (`NomRace`),
  KEY `idx_nom_race` (`NomRace`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `race`
--

LOCK TABLES `race` WRITE;
/*!40000 ALTER TABLE `race` DISABLE KEYS */;
INSERT INTO `race` VALUES (9,'Aqua'),(7,'B├¬te'),(4,'Dragon'),(5,'Guerrier'),(6,'Magicien'),(11,'Plante'),(12,'Pyro'),(10,'Rocher'),(13,'Spectre'),(8,'Zombie');
/*!40000 ALTER TABLE `race` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rarete`
--

DROP TABLE IF EXISTS `rarete`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rarete` (
  `RareteId` int NOT NULL AUTO_INCREMENT,
  `NomRarete` varchar(50) NOT NULL,
  PRIMARY KEY (`RareteId`),
  UNIQUE KEY `NomRarete` (`NomRarete`),
  KEY `idx_nom_rarete` (`NomRarete`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rarete`
--

LOCK TABLES `rarete` WRITE;
/*!40000 ALTER TABLE `rarete` DISABLE KEYS */;
INSERT INTO `rarete` VALUES (5,'Commun'),(6,'Rare'),(9,'Secret Rare'),(7,'Super Rare'),(8,'Ultra Rare');
/*!40000 ALTER TABLE `rarete` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role` (
  `RoleId` int NOT NULL AUTO_INCREMENT,
  `NomRole` varchar(50) NOT NULL,
  `DescriptionRole` text,
  PRIMARY KEY (`RoleId`),
  UNIQUE KEY `NomRole` (`NomRole`),
  KEY `idx_nom_role` (`NomRole`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sous_type_carte`
--

DROP TABLE IF EXISTS `sous_type_carte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sous_type_carte` (
  `SousTypeId` int NOT NULL AUTO_INCREMENT,
  `NomSousType` varchar(50) NOT NULL,
  `TypeCarteId` int NOT NULL,
  PRIMARY KEY (`SousTypeId`),
  UNIQUE KEY `NomSousType` (`NomSousType`),
  KEY `idx_nom_soustype` (`NomSousType`),
  KEY `idx_type_parent` (`TypeCarteId`),
  CONSTRAINT `fk_soustype_type` FOREIGN KEY (`TypeCarteId`) REFERENCES `type_carte` (`TypeCarteId`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sous_type_carte`
--

LOCK TABLES `sous_type_carte` WRITE;
/*!40000 ALTER TABLE `sous_type_carte` DISABLE KEYS */;
/*!40000 ALTER TABLE `sous_type_carte` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `type_carte`
--

DROP TABLE IF EXISTS `type_carte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `type_carte` (
  `TypeCarteId` int NOT NULL AUTO_INCREMENT,
  `NomTypeCarte` varchar(50) NOT NULL,
  PRIMARY KEY (`TypeCarteId`),
  UNIQUE KEY `NomTypeCarte` (`NomTypeCarte`),
  KEY `idx_nom_type` (`NomTypeCarte`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `type_carte`
--

LOCK TABLES `type_carte` WRITE;
/*!40000 ALTER TABLE `type_carte` DISABLE KEYS */;
INSERT INTO `type_carte` VALUES (8,'Lien'),(6,'Magie'),(5,'Monstre'),(7,'Pi├¿ge');
/*!40000 ALTER TABLE `type_carte` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `UserId` int NOT NULL AUTO_INCREMENT,
  `PrenomUser` varchar(100) NOT NULL,
  `NomUser` varchar(100) NOT NULL,
  `MAIL` varchar(255) NOT NULL,
  `MotDePasse` varchar(255) NOT NULL COMMENT 'Hash bcrypt/argon2',
  `DateNaissance` date DEFAULT NULL,
  `DateInscription` date NOT NULL DEFAULT (curdate()),
  `RoleId` int NOT NULL DEFAULT '1',
  PRIMARY KEY (`UserId`),
  UNIQUE KEY `MAIL` (`MAIL`),
  KEY `idx_mail` (`MAIL`),
  KEY `idx_role` (`RoleId`),
  CONSTRAINT `fk_user_role` FOREIGN KEY (`RoleId`) REFERENCES `role` (`RoleId`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_mail_format` CHECK ((`MAIL` like _utf8mb4'%@%'))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-07 16:14:38
